@model IEnumerable<MVCClasico.Models.Producto>



@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.talle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>Imagen</th>
            <th>Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.talle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.imagen))
                {
                    <img src="~/public/@item.imagen" alt="@item.nombre" class="producto-imagen" />
                }
                else
                {
                    <span class="text-muted">Sin imagen</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <form asp-controller="Carts" asp-action="Add" asp-route-id="@item.Id" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-outline-primary">Agregar al carrito</button>
                    </form>

            </td>
                
        </tr>
}
    </tbody>
</table>
